﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tic-tac-toe</h1>
    <p>This application allows people to play tic-tac-toe game witch each other. </p>
    <p>Due to the lack of time there are some limitations and to start the game you need to add "/Game" to your adress bar. </p>
</div>
